<!-- ***********artists/show -->

<section class="heading-page-section">
	<div class="container">
		<div class="col-md-12">
			<h2 class="heading-page-title">프로필</h2>
		</div>
	</div>
</section>

<%= render :partial => 'layouts/artist.erb'%>

<!-- 뒤로가기 -->
<section style="padding-top: 0px;">
	<div class="col-md-12" style="text-align: center;">
		<span class="m-btn m-btn-radius m-btn-default m-btn-large" onclick="history.go(-1)">뒤로가기</span>
	</div>
</section>