	<!-- *********************
		INTRO PAGE TITLE
	********************** -->
	<section class="heading-page-cover-section">
		<div class="container">
			<div class="col-md-12">
				<h1 class="heading-page-title">The Blog Masonry</h1>
				<span class="heading-page-subtitle">standard masonry blog</span>
			</div>
		</div>
	</section>
	<!-- *********************
		CONTENT
	********************** -->
	<section id="blog" class="content blog-masonry no-pd-b">
		<div class="container">
			<div class="blog-articles-masonry-container clearfix">
				<!-- BLOG ARTICLE -->
				<article class="blog-article-masonry">
					<div class="blog-article-img">
						<img src="http://placehold.it/300x180" alt="">
					</div>
					<div class="blog-article-content">
						<h3 class="blog-article-title"><a href="">Best android apps of 2015</a></h3>
						<p>
							Lorem ipsum ex vix illud nonummy, novum tation et his. At vix vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his...
						</p>
						<div class="blog-article-footer">
							<span class="blog-article-author">
								<a href="">By Musama</a>
							</span>
							<span class="blog-article-author right">
								<a href="">3 octobre 2015</a>
							</span>
						</div>
					</div>
				</article><!--  -->
				<!-- BLOG ARTICLE -->
				<article class="blog-article-masonry">
					<div class="blog-article-img">
						<div class="media-video">
							<iframe width="854" height="480" src="https://www.youtube.com/embed/OG2eGVt6v2o" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="blog-article-content">
						<h3 class="blog-article-title"><a href="">Microsoft really doesn’t want Windows 10 users to switch to Chrome</a></h3>
						<p>
							Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his...
						</p>
						<div class="blog-article-footer">
							<span class="blog-article-author">
								<a href="">By Musama</a>
							</span>
							<span class="blog-article-author right">
								<a href="">3 octobre 2015</a>
							</span>
						</div>
					</div>
				</article><!--  -->
				<!-- BLOG ARTICLE -->
				<article class="blog-article-masonry">
					<div class="blog-article-img">
						<img src="http://placehold.it/300x180" alt="">
					</div>
					<div class="blog-article-content">
						<h3 class="blog-article-title"><a href="">Google’s Nexus 5X is now on sale</a></h3>
						<p>
							Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his...
						</p>
						<div class="blog-article-footer">
							<span class="blog-article-author">
								<a href="">By Musama</a>
							</span>
							<span class="blog-article-author right">
								<a href="">3 octobre 2015</a>
							</span>
						</div>
					</div>
				</article><!--  -->
				<!-- BLOG ARTICLE -->
				<article class="blog-article-masonry blog-article-link">
					<div class="blog-article-content">
						<a href="">
							<h3 class="upper white">Beautiful html template</h3>
							<span class="link">www.themesail.com</span>
							<div class="blog-article-footer">
								<span class="blog-article-author">
									<a href="">By Musama</a>
								</span>
								<span class="blog-article-author right">
									<a href="">3 octobre 2015</a>
								</span>
							</div>
						</a>
					</div>
				</article><!--  -->
				<!-- BLOG ARTICLE -->
				<article class="blog-article-masonry">
					<div class="blog-article-img">
						<iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119758807&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
					</div>
					<div class="blog-article-content">
						<h3 class="blog-article-title"><a href="">You can buy the rights to name this new moth species on eBay</a></h3>
						<p>
							Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his...
						</p>
						<div class="blog-article-footer">
							<span class="blog-article-author">
								<a href="">By Musama</a>
							</span>
							<span class="blog-article-author right">
								<a href="">3 octobre 2015</a>
							</span>
						</div>
					</div>
				</article><!--  -->
				<!-- BLOG ARTICLE -->
				<article class="blog-article-masonry blog-article-quote">
					<div class="blog-article-content">
						<a href="">
							<p>
								Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae
							</p>
							<span class="blog-article-quote-author">John Doe</span>
							<div class="blog-article-footer">
								<span class="blog-article-author">
									<a href="">By Musama</a>
								</span>
								<span class="blog-article-author right">
									<a href="">3 octobre 2015</a>
								</span>
							</div>
						</a>
					</div>
				</article><!--  -->
				<!-- BLOG ARTICLE -->
				<article class="blog-article-masonry">
					<div class="blog-article-img">
						<img src="http://placehold.it/300x180" alt="">
					</div>
					<div class="blog-article-content">
						<h3 class="blog-article-title"><a href="">Google is invading Apple and Samsung's turf with primetime Nexus ads</a></h3>
						<p>
							Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his...
						</p>
						<div class="blog-article-footer">
							<span class="blog-article-author">
								<a href="">By Musama</a>
							</span>
							<span class="blog-article-author right">
								<a href="">3 octobre 2015</a>
							</span>
						</div>
					</div>
				</article><!--  -->
				<!-- BLOG ARTICLE -->
				<article class="blog-article-masonry">
					<div class="blog-article-img">
						<img src="http://placehold.it/300x180" alt="">
					</div>
					<div class="blog-article-content">
						<h3 class="blog-article-title"><a href="">Quantum computing explained</a></h3>
						<p>
							Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his...
						</p>
						<div class="blog-article-footer">
							<span class="blog-article-author">
								<a href="">By Musama</a>
							</span>
							<span class="blog-article-author right">
								<a href="">3 octobre 2015</a>
							</span>
						</div>
					</div>
				</article><!--  -->
				<!-- BLOG ARTICLE -->
				<article class="blog-article-masonry">
					<div class="blog-article-img">
						<img src="http://placehold.it/300x180" alt="">
					</div>
					<div class="blog-article-content">
						<h3 class="blog-article-title"><a href="">MIT's new shapeshifting display can build miniature buildings</a></h3>
						<p>
							Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his...
						</p>
						<div class="blog-article-footer">
							<span class="blog-article-author">
								<a href="">By Musama</a>
							</span>
							<span class="blog-article-author right">
								<a href="">3 octobre 2015</a>
							</span>
						</div>
					</div>
				</article><!--  -->
			</div>
			<div class="load-more">
				<a href="" class="m-btn m-btn-large m-btn-default m-btn-radius m-btn-border">Show More</a>
			</div>
		</div>
	</section><!-- End Content -->