	<!-- *********************
		CONTENT
	********************** -->
	<section id="blog" class="content blog no-heading">
		<div class="container">
			<div class="blog-article-container clearfix col-md-9">
				<!-- BLOG ARTICLE -->
				<article class="blog-article blog-article-single">
					<div class="blog-article-gallrey flexslider">
						<ul class="slides">
							<li><img src="http://placehold.it/300x180" class="scale" alt=""></li>
							<li><img src="http://placehold.it/300x180" class="scale" alt=""></li>
							<li><img src="http://placehold.it/300x180" class="scale" alt=""></li>
						</ul>
					</div>
					<div class="blog-article-content">
						<!-- BLOG ARTICLE HEADER -->
						<div class="blog-article-header media">
							<span class="blog-article-media-type cl">
								<i class="icon-pictures"></i>
							</span>
							<div class="bd">
								<h2 class="blog-article-title"><a href="">Best android apps of 2015</a></h2>
								<div class="blog-article-info">
									<span class="blog-article-date">
										Posted at: 
										<a href="">21 DEC 15</a>
									</span>
									<span class="blog-article-tags">
										Posted in: 
										<a href="">Technologie</a>
										<a href="">Science</a>
									</span>
								</div>
							</div>
						</div><!-- BLOG ARTICLE HEADER -->
						<p>
							Lorem ipsum ex vix illud nonummy, novum tation et his. At vix vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his <br><br>
							Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his.At vix scripta patrioque scribentur <br>
							Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litor ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora
							<br><br>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. <br><br>
							Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis. Curabitur aliquet pellentesque diam. Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna. <br> <br>

							Aliquam convallis sollicitudin purus. Praesent aliquam, enim at fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce vulputate sem at sapien. Vivamus leo. Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat imperdiet. Aenean suscipit nulla in justo. Suspendisse cursus rutrum augue. Nulla tincidunt tincidunt mi. Curabitur iaculis, lorem vel rhoncus faucibus, felis magna fermentum augue, et ultricies lacus lorem varius purus. Curabitur eu amet.
						</p>
						<!-- BLOG ARTICLE FOOTER -->
						<div class="blog-article-footer">
							<div class="blog-article-tags">
								<h5 class="blog-article-tags-title">Tags :</h5>
								<ul>
									<li><a href="">Design</a></li>
									<li><a href="">Web</a></li>
									<li><a href="">Wordpress</a></li>
									<li><a href="">UI</a></li>
									<li><a href="">UX</a></li>
								</ul>
							</div>
						</div><!-- BLOG ARTICLE FOOTER -->
					</div><!-- BLOG ARTICLE CONTENT -->
				</article><!--  -->

				<!-- BLOG CONTROL -->
				<div class="blog-articles-control">
					<span class="ctrl-article-prev">
						<a href="">Previous Article</a>
					</span>
					<span class="ctrl-article-next">
						<a href="">Next Article</a>
					</span>
				</div>

				<!-- AUTHOR INFO -->
				<div class="blog-author-info">
					<div class="author-info-avatar">
						<img src="http://placehold.it/300x180" alt="">
					</div>
					<div class="author-info-content">
						<h3 class="author-name">Johnathan Smith</h3>
						<span class="author-function">Web Designer</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor.
						</p>
					</div>
				</div><!-- author info -->

				<!-- COMMENTS -->
				<div class="blog-article-comments">
					<h3 class="article-comments-count">This article has 2 comments</h3>
					<ul class="blog-article-comments-list">
						<li class="comment">
							<div class="comment-author">
								<img src="http://placehold.it/300x180" alt="">
							</div>
							<div class="comment-content">
								<h4 class="author-name">John Doe</h4>
								<span class="comment-time">January 27, 2015</span>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
								</p>
								<span class="reply">
									<a href="">Reply</a>
								</span>
							</div>
							<!-- SUBCOMMENT LIST -->
							<ul class="blog-article-comments-list children">
								<li class="comment">
									<div class="comment-author">
										<img src="http://placehold.it/300x180" alt="">
									</div>
									<div class="comment-content">
										<h4 class="author-name">John Doe</h4>
										<span class="comment-time">January 27, 2015</span>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
										</p>
										<span class="reply">
											<a href="">Reply</a>
										</span>
									</div>
								</li>
							</ul><!-- SUBCOMMENT LIST -->
						</li>
						<li class="comment">
							<div class="comment-author">
								<img src="http://placehold.it/300x180" alt="">
							</div>
							<div class="comment-content">
								<h4 class="author-name">John Doe</h4>
								<span class="comment-time">January 27, 2015</span>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
								</p>
								<span class="reply">
									<a href="">Reply</a>
								</span>
							</div>
						</li>
					</ul>
					<div class="comment-form">
						<h3 class="comment-form-title">Leave a comment</h3>
						<div class="triple-input">
							<div class="input-col col-1">
								<input type="text" id="name" name="name" placeholder="Full name">
							</div>
							<div class="input-col col-1">
								<input type="text" id="mail" name="mail" placeholder="E-mail">
							</div>
							<div class="input-col col-1">
								<input type="text" id="website" name="website" placeholder="Website">
							</div>
						</div>
						<textarea name="comment" id="comment" placeholder="Write your comment here..."></textarea>
						<p>
							<button class="m-btn m-btn-medium m-button-default">Submit</button>
						</p>
					</div>
				</div><!-- COMMENTS -->

			</div><!-- BLOG ARTICLE CONTAINER -->
			<!-- BLOG SIDEBAR -->
			<div class="blog-sidebar col-md-3">
				<!-- Sidebar widgets -->
				<ul class="sidebar-widgets">
					<!-- sidebar widget -->
					<li class="search-bar sidebar-widget">
						<input type="search" placeholder="search">
					</li>
					<!-- sidebar widget -->
					<li class="latest-posts-widget sidebar-widget">
						<h3 class="sidebar-widget-title">Latest Posts</h3>
						<ul>
							<li class="media">
								<div class="cl">
									<a href=""><img src="http://placehold.it/300x180" alt=""></a>
								</div>
								<div class="bd">
									<h4 class="latest-post-title"><a href="">Coffee addict</a></h4>
									<span class="post-time">
										<a href="">11/04/2014</a>
									</span>
								</div>
							</li>
							<li class="media">
								<div class="cl">
									<a href=""><img src="http://placehold.it/300x180" alt=""></a>
								</div>
								<div class="bd">
									<h4 class="latest-post-title"><a href="">Advanced Technologie</a></h4>
									<span class="post-time">
										<a href="">11/04/2014</a>
									</span>
								</div>
							</li>
							<li class="media">
								<div class="cl">
									<a href=""><img src="http://placehold.it/300x180" alt=""></a>
								</div>
								<div class="bd">
									<h4 class="latest-post-title"><a href="">Everest Mountain</a></h4>
									<span class="post-time">
										<a href="">11/04/2014</a>
									</span>
								</div>
							</li>	
						</ul>
					</li>
					<!-- sidebar widget -->
					<li class="categories-widget sidebar-widget">
						<h3 class="sidebar-widget-title">Categories</h3>
						<ul>
							<li><a href="">Web Design</a></li>
							<li><a href="">Web Developement</a></li>
							<li><a href="">Wordpress</a></li>
							<li><a href="">Javascript</a></li>
							<li><a href="">Responsive Design</a></li>	
						</ul>
					</li>
					<!-- sidebar widget -->
					<li class="archives-widget sidebar-widget">
						<h3 class="sidebar-widget-title">Archives</h3>
						<ul>
							<li><a href="">january 2014</a></li>
							<li><a href="">january 2014</a></li>
							<li><a href="">january 2014</a></li>
						</ul>
					</li>
					<!-- sidebar widget -->
					<li class="tags-widget sidebar-widget">
						<h3 class="sidebar-widget-title">Tags</h3>
						<ul class="clearfix">
							<li><a href="">web</a></li>
							<li><a href="">design</a></li>
							<li><a href="">php</a></li>
							<li><a href="">branding</a></li>
							<li><a href="">social network</a></li>
							<li><a href="">inspiration</a></li>
							<li><a href="">motion design</a></li>
							<li><a href="">adaptive</a></li>
							<li><a href="">responsive</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- BLOG SIDEBAR -->
		</div>
	</section><!-- End Content -->