        <style>
            #writer { width: 200px;}
            #title { width: 500px; }
            #div1 { width: 85%; height: 80%; margin: 10px 100px; padding: 30px;}
        </style>
        
        <section class="heading-page-section">
        	<div class="container">
        		<div class="col-md-12">
        			<h1 class="heading-page-title">자유게시판</h1>
        			<span class="heading-page-subtitle">자유롭게 글을 남겨보세요!</span>
        		</div>
        	</div>
        </section>
        
        <div class='container'>
            <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                <h1>공지 작성하기</h1>
            </div>
        </div>
        
        <div class='container' id='div1'>
            <form action='/boards/notice' method='POST'>
                
                <div>
                    <label for='title'>글 제목</label>
                    <input class='form-control' type='text' name='title' id='title'>
                </div><br>
                
                <div>
                    <label for='content'>글 내용</label>
                    <textarea class="tinymce" name='content' rows='15' cols='30'></textarea>
                    <%= tinymce %>
                </div><br>
                
                <div>
                    <%= button_tag "취소", :type => 'button', :class => "btn btn-danger", :onclick => "location.href = '/boards'" %>
                    <input type='hidden' name='admin_id' value=<% current_user.id %>>
                    <button class='btn btn-info' type='submit'>글 등록하기</button>
                </div>
            </form>
    
        </div>
