<!-- 아직 안사용함, 프론트만 갖고옴 -->
	<!-- *********************
		INTRO PAGE TITLE
	********************** -->
	<section class="heading-page-section">
		<div class="container">
			<div class="col-md-12">
				<h1 class="heading-page-title">Portfolio</h1>
			</div>
		</div>
	</section>
	<!-- *********************
		PORTFOLIO
	********************** -->
	<section class="portfolio section-area no-pd-b" id="portfolio">
		<div class="container">
			<!-- PORTFOLIO CATEGORIES FILTERS -->
			<nav class="portfolio-navigation">
				<ul class="portfolio-filter clearfix" data-option-key="filter">
					<li><a href="" data-filter="*" class="current-filter">All</a></li>
					<li><a href="" data-filter=".web-design">Web Design</a></li>
					<li><a href="" data-filter=".branding">Branding</a></li>
					<li><a href="" data-filter=".graphic-design">Graphic Design</a></li>
					<li><a href="" data-filter=".print">Print</a></li>
				</ul>
			</nav>
		</div>
		<!-- PORTFOLIO FILTERS -->
		<div class="portfolio-container portfolio-no-gutters-5">
			<!-- portfolio item -->
			<div class="portfolio-item graphic-design">
				<a href="">
					<img src="http://placehold.it/300x300" alt="">
					<div class="portfolio-item-caption">
						<h2 class="portfolio-item-title">A night to remember</h2>
						<div class="portfolio-item-cats">
							<span>graphic design</span>
							<span>branding</span>
						</div>
					</div>
				</a>
			</div>
			<!-- portfolio item -->
			<div class="portfolio-item web-design">
				<a href="">
					<img src="http://placehold.it/300x300" alt="">
					<div class="portfolio-item-caption">
						<h2 class="portfolio-item-title">Fedelio</h2>
						<div class="portfolio-item-cats">
							<span>web design</span>
						</div>
					</div>
				</a>
			</div>
			<!-- portfolio item -->
			<div class="portfolio-item print">
				<a href="">
					<img src="http://placehold.it/300x300" alt="">
					<div class="portfolio-item-caption">
						<h2 class="portfolio-item-title">Urban Face</h2>
						<div class="portfolio-item-cats">
							<span>print</span>
						</div>
					</div>
				</a>
			</div>
			<!-- portfolio item -->
			<div class="portfolio-item branding">
				<a href="">
					<img src="http://placehold.it/300x300" alt="">
					<div class="portfolio-item-caption">
						<h2 class="portfolio-item-title">Codecanyon</h2>
						<div class="portfolio-item-cats">
							<span>branding</span>
						</div>
					</div>
				</a>
			</div>
			<!-- portfolio item -->
			<div class="portfolio-item graphic-design">
				<a href="">
					<img src="http://placehold.it/300x300" alt="">
					<div class="portfolio-item-caption">
						<h2 class="portfolio-item-title">Ella</h2>
						<div class="portfolio-item-cats">
							<span>graphic design</span>
						</div>
					</div>
				</a>
			</div>
			<!-- portfolio item -->
			<div class="portfolio-item web-design">
				<a href="">
					<img src="http://placehold.it/300x300" alt="">
					<div class="portfolio-item-caption">
						<h2 class="portfolio-item-title">Trello</h2>
						<div class="portfolio-item-cats">
							<span>web design</span>
						</div>
					</div>
				</a>
			</div>
			<!-- portfolio item -->
			<div class="portfolio-item print">
				<a href="">
					<img src="http://placehold.it/300x300" alt="">
					<div class="portfolio-item-caption">
						<h2 class="portfolio-item-title">Elite men</h2>
						<div class="portfolio-item-cats">
							<span>print</span>
						</div>
					</div>
				</a>
			</div>
			<!-- portfolio item -->
			<div class="portfolio-item branding">
				<a href="">
					<img src="http://placehold.it/300x300" alt="">
					<div class="portfolio-item-caption">
						<h2 class="portfolio-item-title">Porshe</h2>
						<div class="portfolio-item-cats">
							<span>branding</span>
						</div>
					</div>
				</a>
			</div>
			<!-- portfolio item -->
			<div class="portfolio-item branding">
				<a href="">
					<img src="http://placehold.it/300x300" alt="">
					<div class="portfolio-item-caption">
						<h2 class="portfolio-item-title">Codecanyon</h2>
						<div class="portfolio-item-cats">
							<span>branding</span>
						</div>
					</div>
				</a>
			</div>
			<!-- portfolio item -->
			<div class="portfolio-item graphic-design">
				<a href="">
					<img src="http://placehold.it/300x300" alt="">
					<div class="portfolio-item-caption">
						<h2 class="portfolio-item-title">Ella</h2>
						<div class="portfolio-item-cats">
							<span>graphic design</span>
						</div>
					</div>
				</a>
			</div>
		</div><!-- END PORTFOLIO CONTAINER -->
		<div class="load-more">
			<a href="" class="m-btn m-btn-large m-btn-default m-btn-radius m-btn-border">Show More</a>
		</div>	
	</section>